In [1]:
#Q1

In [2]:
for i in range(1,11):

    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [4]:
#Q2

In [ ]:
l = [1,2,3,4,5]

sum = 0



for i in l:

    sum += i



print(sum)

In [ ]:
#Q3

In [ ]:
s = "Hello, This is my String. Please, reverse it"



for char in s[::-1]:

    print(char, end="")

In [ ]:
#Q4

In [ ]:
num = 0

fact = 1



for i in range(1,num+1):

    fact *= i



print(fact)

In [ ]:
#Q5

In [ ]:
num = 8



for i in range(1,11):

    print(f"{num} * {i} = {num*i}")

In [ ]:
#Q6

In [ ]:
l = [1,2,3,4,5]

even_count, odd_count = 0,0



for i in l:

    if(i % 2) == 0:

        even_count += 1

    else:

        odd_count += 1



print(f"Even Count = {even_count}")

print(f"Odd Count = {odd_count}")

In [ ]:
#Q7

In [ ]:
for i in range(1,6):

    print(f"Sqaure of {i} = {i*i}")

In [ ]:
#Q8

In [ ]:
s = "Hello, This is my String. Please, reverse it"

# s = "hello"



count = 0

for char in s:

    count += 1

print("The length of the string is:", count)

In [ ]:
#Q9

In [ ]:
l = [1,2,3,4,5]



sum = 0

len = len(l)



for i in l:

    sum += i



print(f"Average of List {l} = {sum//len}")

print(f"Average of List {l} = {sum/len}")

In [ ]:
#Q10

In [ ]:
 

a = 0

b = 1

 

n = int(input("Enter Length of the Fibonacci Series: "))



for i in range(1, n+1):

    print(a, end=" ")

    # print(b, end=" ")



    new_num = a + b



    a = b

    b = new_num



    # b = a + b

In [ ]:
#Q11

In [ ]:
mylist = [1, 2, 3, 4, 5, 1, 2, 3]

flag = False



for i in range(0,len(mylist)-1):

    for j in range(i+1,len(mylist)-1):

        if(mylist[i] == mylist[j]):

            flag = True

            break



    if flag:

        break



if flag:

    print("Your List contains duplicates")

else:

    print("Your List does not contain duplicates")

In [ ]:
#Q12

In [ ]:
import math



n = int(input("Enter a number: "))



for i in range(1, n+1):



    flag = True

    for j in range(2, int(math.sqrt(i))+1):

        # print(f"{i} ------- {j}")

        if((i % j) == 0):

            flag = False

            break



    if flag:

        print(f"{i} is a Prime Number")

        flag = True

In [ ]:
#Q13

In [ ]:
s = "Hello, This is my String. Please, find the count of vowels in it"

count = 0



for char in s:

    if char.lower() in ('a','e','i','o','u'):

        count += 1



print(count)

In [ ]:
#Q14

In [ ]:
import sys



lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

max = -sys.maxsize - 1

# print(max)



for list in lists:

    for i in list:

        if(i > max):

            max = i



print(f"Max Value is : {max}")

In [ ]:
#Q15

In [ ]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5]



# looping till all 1's are removed

while (list1.count(1)):

    list1.remove(1)



print(list1)

In [ ]:
#Q16

In [ ]:


for i in range(1,6):

    print(f"Table of {i} : ")

    for j in range(1,11):



        print(f"{i} * {j} = {i*j}")

In [ ]:
#Q17

In [ ]:
list = [10, 20, 30, 40, 50]



for fah in list:

    cel = (fah - 32.0) * 5.0 / 9.0

    print(f"Temperature in Fahrenheit '{fah}' is equal to '{cel}' in Celsius")

In [ ]:
#Q18

In [ ]:
a = [1, 2, 3, 4, 5]

b = [5, 6, 7, 8, 9]



for i in a:

    for j in b:

        if(i == j):

            print(i, end=" ")

In [ ]:
#Q19

In [ ]:
for i in range(1,6):

    for j in range(0,i):

        print("*", end=" ")

    print()

In [ ]:
#Q20

In [ ]:
p = 48

q = 60



for i in range (1, min(p,q) + 1):

            if i <= min(p,q):

                            if p % i == 0 and q % i == 0:

                                            g = i



print(g)

In [ ]:
#Q21

In [ ]:
def digits_sum(n):

            sum = 0

            while(n>0):

                            sum += n%10

                            n //= 10

            return sum



my_list = [34,63,75,86,343,75,72,98,23,46]



new_list = [digits_sum(i) for i in my_list]



print(new_list)

In [5]:
#Q22

In [ ]:
#Q23

In [ ]:
def is_unique(n,set):

            if n not in set:

                            set.add(n)

                            return True

            return False



list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5]

set_for_list = set()



new_list = [ i for i in list1 if is_unique(i,set_for_list)]



print(new_list)

In [6]:
#Q24

In [ ]:
#Q25

In [ ]:
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]



new_list = [ele  for list in lists for ele in list]



print(new_list)

In [7]:
#Q26

In [8]:
#Q27

In [ ]:
new_list = [i*i   for i in range(1,11) if(i%2 == 1)]



print(new_list)

In [9]:
#Q28

In [ ]:
https://stackoverflow.com/questions/58673566/list-comprehension-iterating-over-multiple-iterables

 

test_keys = ["Rash", "Kil", "Varsha"]

test_values = [1, 4, 5]



new_list = [ [key, value] for [key, value] in [test_keys, test_values]]



print(new_list)

 

big_list = [[letter, number, letter_number] for [letter, number, letter_number] in [letters, numbers, letters_numbers]]

In [ ]:
#Q29

In [ ]:
s = "Hello, This is my String. Please, find the vowels in it and extract them all in a list"



new_list = [char for char in s if char.lower() in ('a','e','i','o','u')]



print(new_list)

In [10]:
#Q30

In [ ]:
import string

import random



def generate_random_string(length):

    """Generate a random string of alphanumeric characters."""

    return ''.join(random.choices(string.ascii_letters + string.digits, k=length))



# Generate a list of 10 random strings with 8 characters each

my_list = [generate_random_string(8) for _ in range(10)]

print(my_list)

 

def remove_nums(str):

    new_str = ''

    for char in str:

        if char.isalpha():

            new_str += char



    return new_str



list = ['9yBZr2UR', 'SjaoKBDh', '3DMQdVFz', 'P4h6q6qL', 'iYCE32Y0', 'cZ8MRJ08', 'K4Pf5SlP', 'DQnAIkCN', 'LFM2jrvX', 'hCiPEeeq']





new_list = [remove_nums(str)  for str in list]



print(new_list)